<footer>
        
        <div class="footer" > Homework 4 &copy; </div>
        <p> Kyle Dilbeck CST336 Internet Programming</p>
        <img src="/img/csumb.png" alt="csumb" />
        



</footer>

</body>

</html>