<!DOCTYPE html>
<html>
    <head>
        <title>Kyle Dilbeck Homework 4 Express</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
    
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <script SRC='js/functions.js'></script>   
      <script src = "faker.js" type = "text/javascript"></script>

    </head>
    
    <body>
        <p>Click on a page to learn more, each page will load a different employee</p>
        <nav>
            <a href="/">     Page 1(HOME)   </a><br>
            <a href="/p2">   Page 2   </a><br>
            <a href="/p3">   Page 3   </a><br>
            <a href="/p4">   Page 4   </a><br>
            
        </nav>
        
        
            
                        <br/><br/>