<% include partials/head.ejs %>

    <h1> Welcome to Homework 4 HOME page!</h1>
    <p>Please click on any page to learn about our employees! </p>
    
    
    
    
        
            
        
<% include partials/footer.ejs %>